
.main-container{
    display: flex;
}

.my-ul-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.my-ul{
    border-top: 1px solid #ccc;

    border-left: 1px solid #ccc;

    /* border-radius: 8px; */
    margin: 0;
    position: relative;
    padding: 8px;
    margin-bottom: 22px;
   
}

.my-ul li:first-child{
    
    padding: 4px;
    
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    left: -14px;
    top: -22px;
    font-size: 20px;
    
}

.my-ul li {
    
    list-style: none;
    margin: 0;
    margin-bottom: 4px;
    display: flex;
    
    border-radius: 7px;
    padding: 2px;
    padding-top: 8px;
}

.my-ul li a{
    
    color:#4dd0e1;

}

.li-title-post{
    /* background-color: #dc4195 !important;
    color: #fff;
    border: none!important; */
}
.animated-socials{
   
    display: flex;
    width: 100%;
    justify-content: flex-end;

}
.animated-item-container{
   
    position: relative;
    width: 48px;
    margin-left: 4px;
    
}
.animated-item-image{
    width:48px;
    height: 48px;
    

    border-radius: 24px;
    padding: 2px;
}

.animated-item-image:hover{
   transform: rotate(10deg) scale(0.8);
   transition-duration: 1s;
   
  
}

.animated-item-image:hover::after{
        content: "  .‌‌ ‌‌ ‌‌ ‌‌ ‌‌ °‌‌ ‌‌ ‌‌ ° ‌‌ ‌‌ ‌‌ ‌‌ ‌‌° ";
        color: #fff;
        font-size: 24px;
        position: absolute;
        top:20px;
        opacity: 0.1;
        animation: fire 3s infinite cubic-bezier(.36,1.11,.71,.13);
}
.animated-item-image:hover::before{
    content: "°   ° .    .     °  ` . °";
    color: #fff;
    position: absolute;
    font-size: 30px;
    top:0;
    opacity: 0.1;
    animation: fire 3s infinite cubic-bezier(.36,1.11,.71,.13);
    background-color: #171717;
}



#site-title::after{
    content: "Web App Developer";
    color: #fff;
    position: absolute;
    top:-14px;
    left:-20px;
    opacity: 0.4;
    animation: fireTitle 3s infinite cubic-bezier(.36,1.11,.71,.13);
}


@keyframes fireTitle{
    from {
        opacity: 0.2;
    }
    to {

        opacity: 0.4;
    }
}

@keyframes fire{
    from {
        opacity: 0.1;
    }
    to {
        top:-22px;
        opacity: 1;
    }
}


.post-image-container{
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-bottom: 20px;

}
.post-content{
    text-align: justify;
}
.profile{
    display: flex;
    position: relative;
    margin-bottom: 75px;
    margin-top: 35px;
    width: 100%;
    justify-content: center;
   
}
.profile-image-container{
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-image{
    position: absolute;
    top:-20px;
    left:0; 
    width: 120px;
    opacity: 0.9;
}

.profile-image-container:hover{
    animation: bergg  0.3s ease-in-out forwards;
}

@keyframes bergg{
    from {
        
        left:0; 
    }
    to {
        transform: rotate(-16deg) ;

        left:-16px;
    }
}

.profile-right{
    margin-left: -38px;
    padding: 8px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    background: #fff;
    /* border-left: 1px solid #ccc; */
    justify-content: center;
    box-shadow: -2px 0px 0px 0px #171717;
}

.profile p.bio{
    font-size: 12px;
    margin: 0;
    line-height: 12px;
    max-width: 300px;
    text-align: center;
    color: #888888;
}

.exp-year{
    position: relative;
    right: 0;
    padding: 2px;
    margin-right: 8px;
    font-size: 12px;
    line-height: 16px;
}

.small-socila-icon{
    width: 48px;
    height: 48px;
}